<header class="header header-transparent header-waterfall">
    <ul class="nav nav-list pull-left hidden-md hidden-lg">
        <li>
            <a data-toggle="menu" href="#ui_menu">
                <span class="material-icon material-icon-lg">menu</span>
                <span class="header-logo header-affix-hide margin-left-no margin-right-no" data-offset-top="213" data-spy="affix">
                    YSITD Cloud
                </span>
            </a>
        </li>
    </ul>
    <span class="header-logo header-affix margin-left-no margin-right-no" data-offset-top="213" data-spy="affix">
        {{title}}
    </span>
</header>