<nav id="ui_menu" class="menu menu-left nav-drawer nav-drawer-md">
    <div class="menu-scroll">
        <div class="menu-content">
            <a class="menu-logo" href="/">
                <span class="avatar"><img src="/images/logo.jpg" alt="YSITD"></span>
                YSITD Cloud
            </a>
            <ul class="nav">
                <li>
                    <a class="waves-attach" data-toggle="collapse" href="#collapse-health">Service Health</a>
                    <ul class="menu-collapse collapse" id="collapse-health">
                        <li>
                            <a class="waves-attach" href="/health">Overview</a>
                        </li>

                        {% for node in nodes %}
                        <li>
                            <a class="waves-attach" href="/health/{{node.id}}">{{ node.name | upper}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>