.doc-nav {
  overflow: hidden;
  position: relative;
  width: 100%;
  ul {
    min-width: 988px;
    left: 0;
    list-style-type: none;
    padding: 0;
    position: relative;
    transition: left .2s;
    width: 100%;
    white-space: nowrap;
    background-color: #f7f7f7;

    > li {
      color: black;
      display: inline-block;
      margin: 0;
      padding: 0;

      a {
        @extend .box;

        border-bottom: 2px solid transparent;
        border-top: 2px solid transparent;
        color: $brand-color-accent;
        display: inline-block;
        font: 500 14px/44px Roboto,sans-serif;
        margin: 0;
        padding: 0 24px;
        text-transform: uppercase;
        transition: color .2s;

        &:hover,
        &:active {
          text-decoration: none;
          background-color: lighten(#f7f7f7, 10%);
        }
      }
    }
  }
}