{% extends 'layouts/default.jinja' %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
            <section class="content-inner margin-top-no">
                <form action="/user/create" method="post">
                    <div class="card">
                        <div class="card-main">
                            <div class="card-inner">
                                <div data-form-element data-label="Github User ID" data-type="number"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
{% endblock %}

{% block template %}
{% endblock %}