{% extends 'layouts/default.jinja' %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <section class="content-inner margin-top-no">
                <div class="card">
                    <div class="card-main">
                        <div class="card-inner">
                            <p class="text-red text-strong">
                                You are <strong class="text-upper">korued</strong>!<br>
                                Something go wrong!<br>
                                Please report to us and check if <a href="https://telegram.me/koru1130">@koru1130</a> is nearby.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
