.ui-banner {
  background-position: 90% 10%;
  background-repeat: no-repeat;
  background-size: 50%;
  margin-bottom: -58px;
  padding-top: 68px;
  padding-bottom: 58px;

  background-image: url(https://openclipart.org/download/18893/sivvus-weather-symbols-3.svg);
}
