$brand-color: #44A148;
$brand-color-dark: #028042;
$brand-color-light: lighten($brand-color, 20%);

$brand-color-accent:           $palette-indigo-a200;
$brand-color-accent-dark:      $palette-indigo-a400;
$brand-color-accent-light:     $palette-indigo-a100;