.user-logo {
  background-color: $white;
}

.box {
  transition: all .3s;
  &:focus,
  &:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .26);
  }
}

header {
  padding-left: 300px;
}

.page-title {
  font-size: 37px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  padding-left: 300px;
  margin-top: 20px;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
