@charset "UTF-8";

@import "materialize/mixins";
@import "mixins/avatars";
@import "mixins/grid";
@import "mixins/responsive";
@import "mixins/utilities";

@import "materialize/color";
@import "colours";

@import "variables";
@import "materialize/variables";

// Reset
@import "normalize";

@import "all";


// materialize
@import "materialize/global";
@import "materialize/icons-material-design";
@import "materialize/grid";
@import "materialize/navbar";
// @import "materialize/roboto";
@import "materialize/typography";
@import "materialize/cards";
@import "materialize/toast";
@import "materialize/tabs";
@import "materialize/tooltip";
@import "materialize/buttons";
@import "materialize/dropdown";
@import "materialize/waves";
@import "materialize/modal";
@import "materialize/collapsible";
@import "materialize/chips";
@import "materialize/materialbox";
@import "materialize/forms/forms";
@import "materialize/table_of_contents";
@import "materialize/sideNav";
@import "materialize/preloader";
@import "materialize/slider";
@import "materialize/carousel";
@import "materialize/date_picker/default";
@import "materialize/date_picker/default.date";
@import "materialize/date_picker/default.time";

@import "components/avatar";
// @import "components/grid";
@import "components/icons";

@import "layouts/text";
@import "layouts/header";
@import "layouts/nav";
@import "layouts/footer";
