.breadcrumb {
	list-style: none;
	margin: $margin-md 0;
	padding: 0;
	@include clearfix();
	> li {
		display: block;
		float: left;
		+ li:before {
			display: inline-block;
			font-family: 'Material Icons';
			font-feature-settings: 'liga';
			font-size: inherit;
			font-style: normal;
			font-weight: normal;
			height: 1em;
			letter-spacing: normal;
			line-height: 1;
			overflow: hidden;
			text-rendering: optimizeLegibility;
			text-transform: none;
			vertical-align: -16%;
			white-space: nowrap;
			width: 1em;
			word-wrap: normal;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			color: $black-sec;
			content: "chevron_right";
			display: inline-block;
			margin-left: 0.4em;
		}
	}
	> .active {
		color: $black-text;
		> a,
		> .a {
			color: $black-text;
			cursor: text;
			text-decoration: none;
		}
	}
}
